<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .active {
            color: red;
        }

        .line {
            font-size: 40px;
        }
    </style>
</head>
<body>

<div id="app">
    {{ message }}<br/>
    <ul>
        <li v-for="(item,index) in movies"
            :class="{active: currentIndex==index}"
            @click="liClick(index)">{{index+1}}.{{item}}
        </li>
    </ul>
    <h2>当前计数：{{counter}}</h2>
    <h2 v-once>初始值：{{counter}}</h2>
    <button v-on:click="counter++">+</button>
    <button v-on:click="counter--">-</button>
    <button v-on:click="add">++</button>
    <button @click="sub">--</button>
    <h2 v-html="url"></h2>
    <h2 v-text="message"></h2>
    <h2 v-pre>{{ movies }}</h2>
    <img v-bind:src="imgURL">
    <h2 v-bind:class="{active:isActive,line:isLine}">{{ message }}</h2>
    <button v-on:click="btnClick">按钮</button>
    <h2>{{getFullName()}}</h2>
    <h2>{{fullName}}</h2>
    <input type="text" v-model="message">
    <br>
    <label for="male">
        <input type="radio" id="male" value="男" v-model="sex">男
    </label>
    <label for="female">
        <input type="radio" id="female" value="女" v-model="sex">女
    </label>
    <input type="radio" id="secret" value="保密" v-model="sex">保密
    <br>
    <label for="agree">
        <input type="checkbox" id="agree" v-model="agree">同意协议
    </label>
    您选择的是：{{agree}}
    <button :disabled="!agree">下一步</button>
    <br>
    <input type="checkbox" value="篮球" v-model="hobbies">篮球
    <input type="checkbox" value="足球" v-model="hobbies">足球
    <input type="checkbox" value="乒乓球" v-model="hobbies">乒乓球
    <input type="checkbox" value="羽毛球" v-model="hobbies">羽毛球
    您的爱好是{{hobbies}}
    <br>
    <select name="abc" id="" v-model="fruits" multiple>
        <option value="苹果">苹果</option>
        <option value="香蕉">香蕉</option>
        <option value="荔枝">荔枝</option>
    </select>
    您选择的水果是{{fruits}}
    <br>
    <label v-for="item in movies" v-bind:for="item">
        <input type="checkbox" v-bind:value="item" v-bind:id="item" v-model="selectMovie">{{item}}
    </label>
    选中电影{{selectMovie}}
</div>

<script src="../../vue-js/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            message: 'Hello Vue!',
            movies: ['复仇者联盟', '美国队长', '钢铁侠', '雷神'],
            currentIndex: 0,
            counter: 0,
            url: '<a href="http://www.baidu.com">百度一下</a>',
            imgURL: '../image/01.jpg',
            isActive: true,
            isLine: true,
            firstName: 'zhang',
            lastName: 'yufei',
            sex: '保密',
            agree: 'false',
            hobbies: [],
            fruits: [],
            selectMovie: []
        },
        methods: {
            add: function () {
                console.log('add被执行')
                this.counter++
            },
            sub: function () {
                console.log('sub执行')
                this.counter--
            },
            btnClick: function () {
                this.isActive = !this.isActive
                this.isLine = !this.isLine
            },
            getFullName() {
                return this.firstName + '  ' + this.lastName
            },
            liClick(index) {
                this.currentIndex = index
            }
        },
        //计算属性
        computed: {
            fullName: {
                set: function () {

                },
                get: function () {
                    return this.firstName + '  ' + this.lastName
                }
            }
        }
    })
</script>

</body>
</html>
